In [1]:
from pyspark import SparkContext, SparkConf, SQLContext
appName = "Coneccion_Teradata "
master = "local"

In [2]:
conf = SparkConf() \
    .setAppName(appName) \
    .setMaster(master) \
    .set("spark.driver.extraClassPath","/home/cdsw/*")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

In [3]:
driver = "com.teradata.jdbc.TeraDriver"

In [4]:
sql = "SELECT TOP 10 * FROM DIM_CIUDAD" 
url = "jdbc:teradata://HOST/Database=DATABASE" # ejemplo : jdbc:teradata://TDPROD/Database=P_DIM_V
user = "SE....."
password = "*******"

In [5]:
def load_data(driver, jdbc_url, sql, user, password):
    return spark.read \
        .format('jdbc') \
        .option('driver', driver) \
        .option('user', user) \
        .option('password', password) \
        .option('url', jdbc_url) \
        .option('dbtable', '({sql}) as src'.format(sql=sql)) \
        .load()

In [6]:
df_td = load_data(driver,url,sql,user,password)
df_td.show(10)

+----------+--------------------+
| Ciudad_Id|         Ciudad_Desc|
+----------+--------------------+
|      7300|barranquilla - co...|
|      3487|     Ca�ada De Salas|
|       469|           Desempe�o|
|2132007197|              ucacha|
|      7708|             ginevra|
|2132005586|               parn�|
|      3018|        Las Junturas|
|2132004974|             memdoza|
|2132001630|              calera|
|       938|     General Cabrera|
+----------+--------------------+